*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font: normal 1.6rem/1.5 sans-serif;
  background: #456990;
  background-image: linear-gradient(#456990 30%, #111);
  background-attachment: fixed;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.timeline {
  display: flex;
  justify-content: flex-start;
}
.timeline h4 {
  font-size: 1.5em;
  font-weight: 200;
  color: #111;
}
.timeline ul {
  margin-left: 3rem;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 0.6rem;
  padding: 2em 0;
  background: #17a2b8;
}
.timeline ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: inherit;
}
.timeline ul li div {
  position: relative;
  top: 4em;
  width: calc(100vw - 22.5rem + 0.6rem + 1.5em + 3rem);
  padding: 1.25rem 1.75rem;
  background: rgba(255, 255, 255, 0.5);
}
.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 2em;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  left: calc(0.6rem + 1.5em + 3rem);
}
.timeline ul li:nth-child(odd) div::before {
  left: -1.5rem;
  border-width: 1.5rem 1.5rem 1.5rem 0;
  border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: calc(0.6rem + 1.5em + 3rem);
}
.timeline ul li:nth-child(even) div::before {
  left: -1.5rem;
  border-width: 1.5rem 1.5rem 1.5rem 0;
  border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
}
.timeline.right {
  justify-content: flex-end;
}
.timeline.right ul {
  margin-right: 4rem;
  margin-left: 0;
}
.timeline.right:nth-child(odd) div {
  left: inherit;
  right: calc(100vw - 4rem - (0.6rem + 1.5em + 3rem + 2rem));
}
.timeline.right:nth-child(odd) div::before {
  left: inherit;
  right: -1.5rem;
  transform: rotate(0.5turn);
}
.timeline.right:nth-child(even) div {
  left: inherit;
  right: calc(100vw - 4rem - (0.6rem + 1.5em + 3rem + 2rem));
}
.timeline.right:nth-child(even) div::before {
  left: inherit;
  right: -1.5rem;
  transform: rotate(0.5turn);
}
.timeline.animation ul li::after {
  transform: scale(0) translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in-out;
  transform-origin: left;
}
.timeline.animation ul li.slide-in::after {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(-50%);
}
.timeline.animation ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline.animation ul li.slide-in div {
  transform: none !important;
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 992px) {
  .timeline ul {
    margin: 0 auto;
  }
  .timeline ul li div {
    width: 45rem;
  }
  .timeline ul li:nth-child(odd) div {
    left: calc(-45rem - 1.5em - 3rem);
  }
  .timeline ul li:nth-child(odd) div::before {
    left: 45rem;
    border-width: 1.5rem 0 1.5rem 1.5rem;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
  }
  .timeline ul li:nth-child(even) div {
    left: calc(0.6rem + 1.5em + 3rem);
  }
  .timeline ul li:nth-child(even) div::before {
    left: -1.5rem;
    border-width: 1.5rem 1.5rem 1.5rem 0;
    border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
  }
  .timeline.right ul {
    margin: 0 auto;
  }
  .timeline.right ul li div {
    width: 45rem;
  }
  .timeline.right ul li:nth-child(odd) div {
    left: calc(-45rem - 1.5em - 3rem);
  }
  .timeline.right ul li:nth-child(odd) div::before {
    left: 45rem;
    transform: none;
  }
  .timeline.right ul li:nth-child(even) div {
    right: inherit;
    left: calc(0.6rem + 1.5em + 3rem);
  }
  .timeline.right ul li:nth-child(even) div::before {
    right: inherit;
    left: -1.5rem;
    transform: none;
  }
}

/*# sourceMappingURL=timeline.css.map */
