// Colors
$blue_color: #17a2b8;
$white_color: #fff;
$white_transparent_color: rgba(255,255,255,0.5);
$black_color: #111;
$background_gradient_color: #456990;

// Dimensions
$timeline_line_width: 0.6rem;
$timeline_node_size: 3rem;

$timeline_card_horizontal_space: 3rem;
$timeline_card_vertical_space: 2.5rem;
$timeline_speechbubble_arrow_size: 1.5rem;
$timeline_margin_size: 6%;

$timeline_card_width: 45rem;
$timeline_card_width_negative: -$timeline_card_width;
$timeline_width_offset: calc(100vw - $timeline_card_width / 2 + ($timeline_card_horizontal_space + $timeline_speechbubble_arrow_size));


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font: normal 1.6rem/1.5 sans-serif;
	background: $background_gradient_color;
	background-image: linear-gradient($background_gradient_color 30%, $black_color);
	background-attachment: fixed;
	color: $white_color;
	overflow-x: hidden;
	padding-bottom: 50px;
} 		

.timeline {
	
	h4 {
		font-size: 1.5em;
		font-weight: 200;
		color: $black_color;
	}
	
	ul li {
		list-style-type: none;
		position: relative;
		width: $timeline_line_width;
		margin: 0 $timeline_margin_size;
		padding: $timeline_card_vertical_space 0;
		background: $blue_color;
		
		&::after {
			content: "";
			position: absolute;
			left: calc(($timeline_line_width * 2) - (($timeline_line_width * 2) * 2));
			bottom: 0;
			width: $timeline_node_size;
			height: $timeline_node_size;
			border-radius: 50%;
			background: inherit;
		}
		
		div {
			position: relative;
			top: calc($timeline_card_vertical_space * 2);
			width: $timeline_width_offset;
			padding: 1.25rem 1.75rem;
			background: $white_transparent_color;
			
			&::before {
				content: "";
				position: absolute;
				bottom: $timeline_card_vertical_space;
				width: 0;
				height: 0;
				border-style: solid;
			}
		}
		
		&:nth-child(odd) div {
			left: calc($timeline_card_horizontal_space + $timeline_speechbubble_arrow_size);
			
			&::before {
				left: -$timeline_speechbubble_arrow_size;
				border-width: $timeline_speechbubble_arrow_size $timeline_speechbubble_arrow_size $timeline_speechbubble_arrow_size 0;
				border-color: transparent $white_transparent_color transparent transparent;
			}
		}
		
		&:nth-child(even) div {
			left: calc($timeline_card_horizontal_space + $timeline_speechbubble_arrow_size);
			
			&::before {
				left: -$timeline_speechbubble_arrow_size;
				border-width: $timeline_speechbubble_arrow_size $timeline_speechbubble_arrow_size $timeline_speechbubble_arrow_size 0;
				border-color: transparent $white_transparent_color transparent transparent;
			}
		}
	}
}

@media only screen and (min-width: 992px) {
	.timeline {
		
		ul li {
			margin: 0 auto;
			div {
				width: $timeline_card_width;
			}
		
			&:nth-child(odd) div {				
				left: calc(($timeline_card_width - $timeline_card_width * 2) - ($timeline_card_horizontal_space + $timeline_speechbubble_arrow_size));
				
				&::before {
					left: $timeline_card_width;
					border-width: $timeline_speechbubble_arrow_size 0 $timeline_speechbubble_arrow_size $timeline_speechbubble_arrow_size;
					border-color: transparent transparent transparent $white_transparent_color;
				}
			}	
		}
	}
}	